@font-face {font-family: "iconfont";
  src: url('/android_asset/www/images/iconfont3.eot?t=1477062759'); /* IE9*/
  src: url('/android_asset/www/images/iconfont3.eot?t=1477062759#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/android_asset/www/images/iconfont3.woff?t=1477062759') format('woff'), /* chrome, firefox */
  url('/android_asset/www/images/iconfont3.ttf?t=1477062759') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/android_asset/www/images/iconfont3.svg?t=1477062759#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont3 {
  font-family:"iconfont" !important;
  color: $tabbarColor;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}



body > div {
  height: 100%;
  width:100%;
  @include flexbox();
  @include flex-direction(column);
  background: #efefef;
}
.bbsbox{
  height: 100%;
  width:100%;
  @include flexbox();
  @include flex-direction(column);
  header{
    background: #fff;
    height: $tabbarHeight;
    line-height:$tabbarHeight;
    @include border($border-width:0 0 1px 0,$border-color:#ccc);
    @include flexbox();
    div:first-child{
      font-size:20px;
      width: 70px;
      text-indent: 14px;
    }
    div:nth-child(2){
      font-size:18px;
      @include flex(1);
    }
    div:last-child{
      display: inline-block;
      font-size: 20px;
      width: 40px;
    }
  }

  .bbscontains {
    @include flex(1);
    overflow: hidden;
    width: 100%;
    #bbsindex-scroll{
      width: 100%;
      height: 100%;
      background: #fbfbfb;
      ul{
        width: 100%;
        li{
          padding: 0 13px;
          @include border($border-width:0 0 1px 0,$border-color:#ccc);
          p{
            width: 100%;
            line-height: 40px;
            font-size: 16px;
          }
          .imgdiv{
            padding-bottom: 10px;
            img{
              width: 60px;
              padding-right: 14px;
            }
          }
          div:last-child{
            @include flexbox();
            padding-bottom: 10px;
            span:first-child{
              color: #003366;
              font-size: 14px;
            }
            span:nth-child(2){
              @include flex(1);
              color: #9d9d9d;
              font-size: 14px;
              text-align: right;
            }
            span:last-child{
              color: #9d9d9d;
              font-size: 14px;
              text-align: right;
              width: 50px;
            }
          }
        }
      }
    }

  }
}
