html,body{
  height: 100%;
}
body > div:nth-child(1) {
  height: 100% !important;
  @include flexbox();
  @include flex-direction(column);
  background: #efefef;
}

.index-container {
  @include flex(1);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#footer{
  height:44px;
  background: #fff;
  ul{
    width:100%;
    height:100%;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include border($border-width:1px 0 0 0,$border-color:#aaa);
    .active{
      color:#fe602b;
    }
    li {
      @include flex(1);
      @include flexbox();
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
      font-size:12px;
      color:#999;
      line-height: 24px;
      b{
        line-height: 14px;
      }

    }
  }
}
.goto-transition{
  transition: transform .3s ease;
}
.goto-enter{
  @include transform(translate(0,0));
}
.goto-leave{
  @include transform(translate(-100%,0));
}
