@font-face {font-family: "iconfont";
  src: url('/android_asset/www/images/iconfont3.eot?t=1477062759'); /* IE9*/
  src: url('/android_asset/www/images/iconfont3.eot?t=1477062759#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/android_asset/www/images/iconfont3.woff?t=1477062759') format('woff'), /* chrome, firefox */
  url('/android_asset/www/images/iconfont3.ttf?t=1477062759') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/android_asset/www/images/iconfont3.svg?t=1477062759#iconfont') format('svg'); /* iOS 4.1- */
}
@font-face {font-family: "iconfont";
  src: url('/android_asset/www/images/iconfont4.eot?t=1477062759'); /* IE9*/
  src: url('/android_asset/www/images/iconfont4.eot?t=1477062759#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/android_asset/www/images/iconfont4.woff?t=1477062759') format('woff'), /* chrome, firefox */
  url('/android_asset/www/images/iconfont4.ttf?t=1477062759') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/android_asset/www/images/iconfont4.svg?t=1477062759#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont3 {
  font-family:"iconfont" !important;
  color: $tabbarColor;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont4 {
  font-family:"iconfont" !important;
  color: #9d9d9d;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


body > div {
  height: 100%;
  width:100%;
  @include flexbox();
  @include flex-direction(column);
  background: #efefef;
}
.marketbox{
  height: 100%;
  width:100%;
  @include flexbox();
  @include flex-direction(column);
  header{
    background: #fff;
    height: $tabbarHeight;
    line-height:$tabbarHeight;
    @include border($border-width:0 0 1px 0,$border-color:#ccc);
    @include flexbox();
    div:first-child{
      font-size:20px;
      width: 70px;
      text-indent: 14px;
    }
    div:nth-child(2){
      font-size:18px;
      @include flex(1);
    }
    div:nth-child(3){
      font-size: 20px;
      width: 30px;
    }
    div:last-child{
      font-size: 20px;
      width: 40px;
    }
  }

  .marketcontains {
    @include flex(1);
    overflow: hidden;
    width: 100%;
    #market-index-scroll{
      width: 100%;
      height: 100%;
      background: #fbfbfb;
      >div{
        width: 100%;
        .head{
          background: #fff;
          width: 100%;
          height: 35px;
          @include flexbox();
          justify-content:center;
          align-items:center;
          img{
            width: 10px;
            height: 18px;
            margin-right:7px;
          }
          .up{
            transition:transform 0.1s;
            transform:rotate(-180deg) !important;
            -webkit-transform: rotate(180deg) !important;
          }
          span{
            width: 100px;
            display: inline-block;
            text-align: center;
            line-height: 35px;
          }
        }
        .foot{
          background: #fff;
          width: 100%;
          height: 35px;
          @include flexbox();
          justify-content:center;
          align-items:center;
          img{
            width: 10px;
            height: 12px;
            margin-right:7px;
          }
          span{
            width: 60px;
            display: inline-block;
            line-height: 35px;
          }
        }
      }
      ul{
        width: 100%;
        li{
          padding: 0 13px;
          @include border($border-width:0 0 1px 0,$border-color:#ccc);
          @include flexbox();
          div:first-child{
            line-height: 55px;
            width: 60px;
            font-size: 50px;
          }
          div:last-child{
            @include flex(1);
            p:nth-child(1){
              width: 100%;
              padding: 10px 0 0 0;
              font-size: 12px;
              color: #00b5e2;
              @include flexbox();
              span{
                text-align: right;
                @include flex(1);
                color: #ccc;
              }
            }
            p:nth-child(2){
              width: 100%;
              font-size: 12px;
              padding: 2px 0 8px 0;
              color: #ccc;
            }
            p:nth-child(3){
              width: 100%;
              padding: 5px 0 10px 0;
              font-size: 14px;
              color: #32323a;
            }
            .imgdiv{
              padding-bottom: 10px;
              img{
                width: 60px;
                padding-right: 5px;
              }
            }
            div:last-child{
              color: #fe602b;
              width: 100%;
              padding-bottom: 10px;
              
          }

          }
        }
      }
    }

  }
}


