.box{
  height:100%;
  background: #f5f5f5;
}
.box .main-container{
  width:100%!important;
  height:100%;
  @include flex(1);
  @include flexbox();
  @include flex-direction(column);
  overflow: hidden;
  > * {
    width:100%;
  }
  div.top{
    height:$tabbarHeight;
    background:$tabbarColor;
    @include flexbox();
    @include justify-content(space-between);
    p{
      height:100%;
      color:#fff;
      line-height: $tabbarHeight;
      text-indent: 16px;
      font-size:$headFontSize;
      padding-right:20px;
    }
    .search{
      display: block;
      height:20px;
      width:20px;
      margin-right: $headMargin;
      margin-top:12px;
    }
  }

  #main-scroll{
    @include flex(1);
    width:100%;
    overflow: hidden;
    .head{
      height:.8rem;
      line-height:1.3rem;
      text-align: center;
      background: url('/android_asset/www/images/refresh_title.png') no-repeat center center;
      background-size:50% 20px;
      color:#999;
      // padding-top:40px;
      img{
        width:.12rem;
      }
      .up{
        transform:rotate(180deg) !important;
        -webkit-transform: rotate(180deg) !important;
      }

    }
    nav{
      height:20%;
      background:#fff;
      @include border($border-width:0 0 1px 0,$border-color:#e3e3e3);
      margin-bottom:10px;
      ul{
        @include flexbox();
        @include flex-wrap(wrap);
        padding:10px 10px 0 10px;
        li{
          @include flexbox();
          @include flex-direction(column);
          @include justify-content(center);
          @include align-items(center);
          width:25%;
          margin-bottom:10px;
          .new{
            position:relative;
            span{
              position:absolute;
              right:-14px;
              top:-6px;
              img{
                height:.14rem;
                width:.26rem;
              }
            }
          }
          i>img{
            height:.4rem;
            width:.4rem;
            margin-bottom:6px;
          }
          b{
            font-weight:normal;
            font-size:12px;
          }
        }
      }
    }

    .hot{
      background: #fff;
      margin-bottom:10px;
      @include border($border-width:1px 0 0 0,$border-color:#e3e3e3);
      ul{
        @include flexbox();
        @include flex-wrap(wrap);
        padding:0.1rem 0;
        li{
          width:50%;
          @include flexbox();
          @include justify-content(space-between);
          padding-left:.12rem;
          color:#999;
          padding-right: .12rem;
          &:nth-child(1){
            border-bottom: 0.5px solid #eee;
            border-right:0.5px solid #eee;
            padding-bottom: 0.1rem;
            b{
              color:rgb(108, 48, 21);
            }
          }
          &:nth-child(2){
            @include border($border-width:0 0 1px 0,$border-color:#e3e3e3);

            b{
              color:rgba(255, 40, 3, 0.61);
            }
          }
          &:nth-child(3){
            border-right:0.5px solid #eee;
            padding-top:0.1rem;
            b{
              color:rgb(247, 75, 86);
            }
          }
          &:nth-child(4){
            padding-top:0.1rem;
            b{
              color:rgb(63, 190, 218);
            }
          }
          b{
            font-size:14px;
            line-height:20px;
          }
          img{
            height:40px;
            width:40px;
          }
        }
      }
    }

    .merchant{
      background: #fff;
      @include border($border-width:1px 0 0 0,$border-color:#e3e3e3);
      .merchant-title{
        line-height:30px;
        font-size:14px;
        padding-left:.1rem;
        @include border($border-width:0 0 1px 0,$border-color:#eee);
      }
      .merchant-list{
        padding-left:0.2rem;
        li{
          @include flexbox();
          padding:0.1rem 0;
          @include border($border-width:0 0 1px 0,$border-color:#eee);
          img{
            width:0.4rem;
            height:0.4rem;
            border-radius: 0.03rem;
            margin-right:0.1rem;
          }
          section{
            @include flexbox();
            @include flex-direction(column);
            b{
              font-size:14px;
              color:#333;
              font-weight: normal;
              line-height:16px;
              img{
                height:14px;
                width:30px;
                margin-bottom:2px;
              }
            }
            i,span{
              color:#888;
            }
            i{
              line-height:16px;
              padding-left:14px;
              background: url('/android_asset/www/images/20-20-16.png') no-repeat 0 3px;
              background-size: 10px 10px;
            }
          }
        }
      }
    }


  }
}
