.det-box{
  @include flexbox();
  @include align-items(center);
  header{
    width: 100%;
    height:$tabbarHeight;
    background: $headBackground;
    @include flexbox();
    @include align-items(center);
    img{
      height: $headimgSize;
      width: $headimgSize;
      margin: 0 $headMargin;
    }
    font-size: $headFontSize;
      @include border($border-width:0 0 1px 0,$border-color:#aaa);
  }
  .input-ul{
    width: 100%;
    margin-top: 10px;
    background-color: #ffffff;
    padding-left: 8px;
    li{
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);
      padding: 0 0 0 10px;
      height: 50px;
      font-size: 14px;
      @include border($border-width:0 0 1px 0,$border-color:#aaa);
      .ul-right{
        color: #666;
        .myImg{
          margin-left: 5px;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          margin-right: -5px;
        }
        img{
          margin-right: 5px;
        }
      }
      .back-btn{
        width: 120px;
        height: 40px;
        background: $tabbarColor;
        color: #fff;
        font-size: 12px;
        border: 0;
        border-radius: 5px;
        line-height: 20px;
      }
    }
  }
  .logout{
    color: rgb(255,72,80);
    width: 100%;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    font-size: 14px;
  }
}
