@font-face {font-family: "iconfont";
  src: url('/android_asset/www/images/iconfont3.eot?t=1477062759'); /* IE9*/
  src: url('/android_asset/www/images/iconfont3.eot?t=1477062759#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/android_asset/www/images/iconfont3.woff?t=1477062759') format('woff'), /* chrome, firefox */
  url('/android_asset/www/images/iconfont3.ttf?t=1477062759') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/android_asset/www/images/iconfont3.svg?t=1477062759#iconfont') format('svg'); /* iOS 4.1- */
}
@font-face {font-family: "iconfont";
  src: url('/android_asset/www/images/iconfont4.eot?t=1477062759'); /* IE9*/
  src: url('/android_asset/www/images/iconfont4.eot?t=1477062759#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/android_asset/www/images/iconfont4.woff?t=1477062759') format('woff'), /* chrome, firefox */
  url('/android_asset/www/images/iconfont4.ttf?t=1477062759') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/android_asset/www/images/iconfont4.svg?t=1477062759#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont3 {
  font-family:"iconfont" !important;
  color: $tabbarColor;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont5 {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}


body > div {
  height: 100%;
  width:100%;
  @include flexbox();
  @include flex-direction(column);
  background: #efefef;
}
.neicirclebox{
  height: 100%;
  width:100%;
  @include flexbox();
  @include flex-direction(column);
  header{
    background: #fff;
    height: $tabbarHeight;
    line-height:$tabbarHeight;
    @include border($border-width:0 0 1px 0,$border-color:#ccc);
    @include flexbox();
    div:first-child{
      font-size:20px;
      width: 53px;
      text-indent: 14px;
    }
    div:nth-child(2){
      font-size: 20px;
      width: 20px;
      line-height:32px;
      transform: rotate(45deg);
    }
    div:nth-child(3){
      padding-left: 17px;
      font-size:18px;
      @include flex(1);
    }
    div:last-child{
      font-size: 20px;
      width: 30px;
    }
  }

  .neicirclecontains {
    @include flex(1);
    overflow: hidden;
    width: 100%;
    #nei-index-scroll{
      width: 100%;
      height: 100%;
      background: #fbfbfb;
      ul{
        width: 100%;
        li{
          padding: 0 13px;
          @include border($border-width:0 0 1px 0,$border-color:#ccc);
          @include flexbox();
          >img{
            //line-height: 55px;
            padding: 12px 10px 12px 0;
            width: 100px;
            height: 114px;
          }
          >div{
            @include flex(1);
            h3{
              width: 100%;
              height: 50px;
              padding: 10px 0 0 0;
              font-size: 13px;
              color: #32323a;
            }
            div{
              width: 100%;
              @include flexbox();
              #biaoqian1{
                @include flex(1);
                @include flexbox();
                @include flex-direction(column);
                p:first-child{
                  padding: 7px 0 0 0;
                  span{
                    color: #32323a;
                    padding: 0 0 0 3px;
                  }
                  color: #ccc;
                }
                p:last-child{
                  color: #fe602b;
                  padding: 4px 0 0 0;
                }
              }
              #biaoqian2{
                @include flexbox();
                @include flex-direction(column);
                width: 100px;
                height: 50px;
                @include border($border-width:1px,$border-color:#fe602b);
                border-radius: 20px;
                p:first-child{
                  color: #fe602b;
                  width: 100px;
                  height: 20px;
                  font-size: 12px;
                  line-height: 20px;
                  text-align: center;
                }
                p:last-child{
                  color: white;
                  background:#fe602b;
                  width: 100px;
                  height: 30px;
                  line-height: 30px;
                  font-size: 15px;
                  text-align: center;
                }
              }
            }

          }
        }
      }
    }

  }
}


