.sensedetail-con{
  width:100%;
  height:100%;
  .header{
    z-index: 1000;
    background: #fff;
    width:100%;
    height: 44px;
    line-height:44px;
    @include border($border-width:0 0 1px 0,$border-color:#ccc);
    position: relative;
    div:nth-child(1){
      height: 44px;
      width:50px;
      font-size:$headimgSize;
      position: absolute;
      top:0;
      left:0;
      z-index: 1001;
      padding-left:$headMargin;
    }
    h1{
      height: 44px;
      font-size:20px;
      text-indent: 14px;
      width:100%;
      padding-left:40px;
    }
  }
  .comment{
    width:100%;
    height:60px;
    @include flexbox();
    @include align-items(centert);
    @include flex-direction(column);
    @include justify-content(center);
    @include border(0 0 1px 0,#999);
    padding:5px 0;
    .tit{
      padding:0 10px;
      width:100%!important;
      @include flex(1);
    }
    .commentcon{
      padding:0 10px;
      width:100%!important;
      @include flex(1);
      @include flexbox();
      b{
        width:100%;
        @include flex(1);
      }
      span{
        width:100%;
        @include flex(1);
        text-align: right;
      }
    }
  }
  .numbercall{
    padding:0 10px;
    width:100%;
    height:60px;
    line-height: 60px;
    @include border(0 0 1px 0,#999);
  }
  .time{
    padding:0 10px;
    width:100%;
    height:60px;
    line-height: 60px;
    @include border(0 0 1px 0,#999);
  }
  .footer{
      width:100%;
      height:44px;
      font-size:30px;
      position: absolute;
      z-index: 1000;
      left:0;
      bottom:0;
    // .icon{
    //   font-family: icomoon!important;
    //   speak: none;
    //   font-style: normal;
    //   font-weight: 400;
    //   font-variant: normal;
    //   text-transform: none;
    //   line-height: 1;
    //   -webkit-font-smoothing: antialiased;
    // }
  }
}
